
.navbar-collapse{ 
    justify-content: center;
}

.nav-link,a{
    margin-left: 30px;

}

.container-fluid{
    padding: 0 !important;
   
}
.background {
    /* z-index: -1; */
    width: 100%;
    /* position: fixed; */
  
    object-fit: cover;
    height:auto
   
}

/* .showfeats {
    z-index: 1;
    height: 12em;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    font-size: 3em;
} */

.flexbox-container {
    display: flex;
    align-items: center;
  
}


.date-text{
    background-color: rgb(236, 235, 235); 
    border: 1px solid grey;
    padding-left: 20px;
     padding-bottom: 2px;
}

.date-section-1{
    margin-top: 15px;
}

.read-me{
    color: whitesmoke;
    background-color: hsl(53, 93%, 48%);
    border: 0.3px solid black;
    margin-left: 40px;
    padding-top: 2px;
    padding-bottom: 5px;
     width: 70%;
}

footer {
    margin-bottom: 0px;
}
.bottom {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: space-evenly;
}

.map{
    width: 250px;
    padding: 2%;
    padding-left: 100px;
}

.maping {
    width: 250px;
}
 
.fooinfo {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0,6em;
}

.footwhows {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0,6em;
}

.social {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0,6em;
}

.tiny{
    margin: 3px;
}
